
.postKey {
    font-weight: bold;
    color: red;
}

#updateCity {
    border: none;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 2px dotted #ddd;
    font-size: 38px;
}

#celebrate {
    font-size: 30px;
}