@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    height: 150px;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}

.icon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: gray;
}

nav {
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.navHolder {
    width: 600px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.navText {
    height: 26px;
    width: 120px;
    background-color: gray;
}

main {
    min-height: 1000px;
    width: 100%;
}

.scroller {
    height: 333px;
    width: 100%;
    background-color: lightgray;

    border-bottom: 3px solid #c2c2c2;
    border-top: 3px solid #c2c2c2;
}

.arrowLeft {
    width: 30%;
    height: 100%;
}

.imageScroll {
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    
}

.scrollImage {
    height: 150px;
    width: 350px;
    background-color: grey;
}

.scrollText {
    height: 100px;
    width: 400px;
    background-color: grey;
}

.arrowRight {
    width: 30%;
    height: 100%;
}

.mainProduct {
    height: 666px;
    width: 100%;
}

.topMain {
    height: 666px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.mainHolder {
    height: 90%;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.holder {
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.onHover {
    height: 270px;
    width: 230px;
    background-color: lightgray;
}


/* Utility Classes */

.addFlex {
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: stretch; */
    /* flex-direction: row; */
}
