<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>First Layout</title> 
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <header class="addFlex">
            <section class="topHead addFlex">
                <section class="empty"></section>
                <section class="login addFlex">
                    <section class="signIn">
                        <label for="login">SIGN IN</label>
                        <input type="text" id="login">
                    </section>
                    <section class="createAc">
                        <h1>CREATE AN ACCOUNT</h1>
                    </section>
                    <section class="contact">
                        <h1>CONTACTS</h1>
                    </section>
                </section>
            </section>
            <section class="bottomHead addFlex">
                <section class="logo addBorder"></section>
                <section class="name addBorder addFlex">
                    <h1>Knugens Air Lines</h1>
                </section>
                <section class="call addBorder"></section>
            </section>
        </header>
        <nav>
            <section class="navText">
                <h1></h1>
            </section>
            <section class="navText">
                <h1></h1>
            </section>
            <section class="navText">
                <h1></h1>
            </section>
            <section class="navText">
                <h1></h1>
            </section>
            <section class="navText">
                <label for="search"></label>
                <input type="search" id="login">
            </section>
        </nav>
        <main>
            <section class="mainLeft">
                <section class="leftTitle"></section>
                <section class="leftInfo">
                    <section class="leftText">
                        <h1></h1>
                    </section>
                    <section class="leftArt"></section>
                </section>
                    <section class="leftText">
                        <h1></h1>
                    </section>
                    <section class="leftArt"></section>
                </section>
                    <section class="leftText">
                        <h1></h1>
                    </section>
                    <section class="leftArt"></section>
                </section>
                    <section class="leftText">
                        <h1></h1>
                    </section>
                    <section class="leftArt"></section>
                </section>
            </section>
            <section class="mainMiddle">
                <section class="middleTop">
                    <section class="middleLeft">
                        <section class="middleTitel"></section>
                        <section class="middleText"></section>
                    </section>
                    <section class="middleRight">
                        <section class="middleBigArt"></section>
                        <section class="caption">
                            <h1></h1>
                        </section>
                    </section>
                </section>
                <section class="middleBottom">
                    <section class="artGallery">
                        <section class="middleSmallArt"></section>
                        <section class="middleSmallArt"></section>
                        <section class="middleSmallArt"></section>
                        <section class="middleSmallArt"></section>
                        <section class="middleSmallArt"></section>
                        <section class="middleSmallArt"></section>
                    </section>
                    <section class="arrows">
                        <section class="arrowLeftHolder">
                            <section class="leftArrow"></section>
                        </section>
                        <section class="arrowRightHolder">
                            <section class="rightArrow"></section>
                        </section>
                    </section>
                </section>
            </section>
            <section class="mainRight">
                <section class="timeZone"></section>
                <section class="ad"></section>
                <section class="ad"></section>
            </section>
        </main>
    </body>
</html>