<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Third Layout</title> 
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
</html>
<body>
    <header class="addFlex">
        <section class="icon"></section>
    </header>
    <nav class="addFlex">
        <section class="navHolder addFlex">
            <section class="navText"></section>
            <section class="navText"></section>
            <section class="navText"></section>
            <section class="navText"></section>
        </section>
    </nav>
    <main>
        <section class="scroller addFlex">
            <section class="arrowLeft"></section>
            <section class="imageScroll addFlex">
                <section class="scrollImage"></section>
                <section class="scrollText"></section>
            </section>
            <section class="arrowRight"></section>
        </section>
        <section class="mainProduct">
            <section class="topMain addFlex">
                <section class="mainHolder addFlex">
                    <section class="holder addFlex">
                        <section class="onHover">
                            <section class="image"></section>
                            <h1></h1>
                            <h2></h2>
                        </section>
                        <section class="onHover">
                            <section class="image"></section>
                            <h1></h1>
                            <h2></h2>
                        </section>
                        <section class="onHover">
                            <section class="image"></section>
                            <h1></h1>
                            <h2></h2>
                        </section>
                        <section class="onHover">
                            <section class="image"></section>
                            <h1></h1>
                            <h2></h2>
                        </section>
                    </section>
                    <section class="holder addFlex">
                        <section class="onHover">
                            <section class="image"></section>
                            <h1></h1>
                            <h2></h2>
                        </section>
                        <section class="onHover">
                            <section class="image"></section>
                            <h1></h1>
                            <h2></h2>
                        </section>
                        <section class="onHover">
                            <section class="image"></section>
                            <h1></h1>
                            <h2></h2>
                        </section>
                        <section class="onHover">
                            <section class="image"></section>
                            <h1></h1>
                            <h2></h2>
                         </section>
                    </section>
                </section>
            </section>
        </section>
    </main>
    <footer>
        <section class="contactInfo">
            <h1></h1>
            <h2></h2>
        </section>
        <section class="contactInfo">
            <h1></h1>
            <h2></h2>
        </section>
        <section class="contactInfo">
            <h1></h1>
            <h2></h2>
        </section>
        <section>
            <h1></h1>
            <section>
                <section class="socialIcon"></section>
                <section class="socialIcon"></section>
                <section class="socialIcon"></section>
            </section>
        </section>
    </footer>
</body>