<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Third Layout</title> 
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
</html>
<body>
    <header class="addFlex">
        <section class="icon"></section>
    </header>
    <nav class="addFlex">
        <section class="navHolder addFlex">
            <section class="navText addFlex">
                <h1>Home</h1>
            </section>
            <section class="navText addFlex">
                <h1>Information</h1>
            </section>
            <section class="navText addFlex">
                <h1>Prodjects</h1>
            </section>
            <section class="navText addFlex">
                <h1>About Us</h1>
            </section>
        </section>
    </nav>
    <main>
        <section class="scroller addFlex">
            <section class="arrowLeft addFlex">
                <img src="assets/images/arrowLeft.svg" alt="Left Arrow">
            </section>
            <section class="imageScroll addFlex">
                <section class="scrollImage"></section>
                <section class="scrollTitle addFlex">
                    <h1>Wow sush amazing prodjects!</h1>
                </section>
                <section class="scrollText addFlex">
                    <h1>Just look at all these things what will I ever choose. Maybe the C# prodject or maybe the C++ one.</h1>
                </section>
            </section>
            <section class="arrowRight addFlex">
                <img src="assets/images/arrowRight.svg" alt="Right Arrow">
            </section>
        </section>
        <section class="mainProduct">
            <section class="topMain addFlex">
                <section class="mainHolder addFlex">
                    <section class="holder addFlex">
                        <section class="onHover">
                            <section class="image"></section>
                            <h1></h1>
                            <h2></h2>
                        </section>
                        <section class="onHover">
                            <section class="image"></section>
                            <h1></h1>
                            <h2></h2>
                        </section>
                        <section class="onHover">
                            <section class="image"></section>
                            <h1></h1>
                            <h2></h2>
                        </section>
                        <section class="onHover">
                            <section class="image"></section>
                            <h1></h1>
                            <h2></h2>
                        </section>
                    </section>
                    <section class="holder addFlex">
                        <section class="onHover">
                            <section class="image"></section>
                            <h1></h1>
                            <h2></h2>
                        </section>
                        <section class="onHover">
                            <section class="image"></section>
                            <h1></h1>
                            <h2></h2>
                        </section>
                        <section class="onHover">
                            <section class="image"></section>
                            <h1></h1>
                            <h2></h2>
                        </section>
                        <section class="onHover">
                            <section class="image"></section>
                            <h1></h1>
                            <h2></h2>
                         </section>
                    </section>
                </section>
            </section>
        </section>
    </main>
    <footer class="addFlex">
        <section class="footerHolder addFlex">
            <section class="contactInfo addFlex">
                <h1></h1>
                <h2></h2>
            </section>
            <section class="contactInfo addFlex">
                <h1></h1>
                <h2></h2>
            </section>
            <section class="contactInfo addFlex">
                <h1></h1>
                <h2></h2>
            </section>
            <section class="siteMap addFlex">
                <h1></h1>
                <section class="iconHolder addFlex">
                    <section class="socialIcon"></section>
                    <section class="socialIcon"></section>
                    <section class="socialIcon"></section>
                </section>
            </section>
        </section>
    </footer>
</body>