<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Third Layout</title> 
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
</html>
<body>
    <header class="addFlex">
        <section class="icon"></section>
    </header>
    <nav class="addFlex">
        <section class="navHolder addFlex">
            <section class="navText addFlex">
                <h1>Home</h1>
            </section>
            <section class="navText addFlex">
                <h1>Information</h1>
            </section>
            <section class="navText addFlex">
                <h1>Prodjects</h1>
            </section>
            <section class="navText addFlex">
                <h1>About Us</h1>
            </section>
        </section>
    </nav>
    <main>
        <section class="scroller addFlex">
            <section class="arrowLeft addFlex">
                <img src="assets/images/arrowLeft.svg" alt="Left Arrow">
            </section>
            <section class="imageScroll addFlex">
                <section class="scrollImage"></section>
                <section class="scrollTitle addFlex">
                    <h1>Wow sush amazing prodjects!</h1>
                </section>
                <section class="scrollText addFlex">
                    <h1>Just look at all these things what will I ever choose. Maybe the C# prodject or maybe the C++ one.</h1>
                </section>
            </section>
            <section class="arrowRight addFlex">
                <img src="assets/images/arrowRight.svg" alt="Right Arrow">
            </section>
        </section>
        <section class="mainProduct">
            <section class="topMain addFlex">
                <section class="mainHolder addFlex">
                    <section class="holder addFlex">
                        <section class="onHover addFlex">
                            <section class="image"></section>
                            <h1>One Quick C#</h1>
                            <h2>One quick c# hopped over a large box with a large head by it's side. But what will it do with the big box?</h2>
                        </section>
                        <section class="onHover addFlex">
                            <section class="image"></section>
                            <h1>One Quick C#</h1>
                            <h2>One quick c# hopped over a large box with a large head by it's side. But what will it do with the big box?</h2>                        </section>
                        <section class="onHover addFlex">
                            <section class="image"></section>
                            <h1>One Quick C#</h1>
                            <h2>One quick c# hopped over a large box with a large head by it's side. But what will it do with the big box?</h2>
                        </section>
                        <section class="onHover addFlex">
                            <section class="image"></section>
                            <h1>One Quick C#</h1>
                            <h2>One quick c# hopped over a large box with a large head by it's side. But what will it do with the big box?</h2>
                        </section>
                    </section>
                    <section class="holder addFlex">
                        <section class="onHover2 addFlex">
                            <section class="image"></section>
                            <h1>One Quick C#</h1>
                            <h2>One quick c# hopped over a large box with a large head by it's side. But what will it do with the big box?</h2>
                        </section>
                        <section class="onHover2 addFlex">
                            <section class="image"></section>
                            <h1>One Quick C#</h1>
                            <h2>One quick c# hopped over a large box with a large head by it's side. But what will it do with the big box?</h2>
                        </section>
                        <section class="onHover2 addFlex">
                            <section class="image"></section>
                            <h1>One Quick C#</h1>
                            <h2>One quick c# hopped over a large box with a large head by it's side. But what will it do with the big box?</h2>
                        </section>
                        <section class="onHover2 addFlex">
                            <section class="image"></section>
                            <h1>One Quick C#</h1>
                            <h2>One quick c# hopped over a large box with a large head by it's side. But what will it do with the big box?</h2>
                         </section>
                    </section>
                </section>
            </section>
        </section>
    </main>
    <footer class="addFlex">
        <section class="footerHolder addFlex">
            <section class="contactInfo addFlex">
                <h1>Contact Info</h1>
                <section class="links addFlex">
                    <h2>Customer Service</h2>
                    <h2>Other Contacts</h2>
                    <h2>Get a Job</h2>
                </section>
            </section>
            <section class="contactInfo addFlex">
                <h1>Partners</h1>
                <section class="links addFlex">
                    <h2>Imagine Games</h2>
                    <h2>Wow Industry</h2>
                    <h2>Objectiv Exist</h2>
                </section>
            </section>
            <section class="contactInfo addFlex">
                <h1>Copyright</h1>
                <section class="links addFlex">
                    <h2>For Customers</h2>
                    <h2>For Partners</h2>
                    <h2>For Other Partys</h2>
                </section>
            </section>
            <section class="siteMap addFlex">
                <h1>Socials</h1>
                <section class="iconHolder addFlex">
                    <section class="socialIcon">
                        <img src="assets/images/Icon awesome-facebook-square.svg" alt="FaceBook">
                    </section>
                    <section class="socialIcon">
                        <img src="assets/images/Icon awesome-instagram.svg" alt="Instagram">
                    </section>
                    <section class="socialIcon">
                        <img src="assets/images/Icon awesome-twitter-square.svg" alt="Twitter">
                    </section>
                </section>
            </section>
        </section>
    </footer>
</body>