@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #845EC2;
    padding-top: 20px;
    position: relative;
}

.gridContainer {
    width: calc(100% - 300px);
    min-height: calc(100vh + 200px);

    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gridItem {
    border: 1px solid black;
}
.gridItem {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container1 .gridItem:nth-child(1) {
    background-image: url(../images/Building.jpg);
}
.container1 .gridItem:nth-child(1):hover {
    transform: scale(1.1);
}
.container1 .gridItem:nth-child(3) {
    background-image: url(../images/City.jpg);
}
.container1 .gridItem:nth-child(3):hover {
    transform: scale(1.1);
}
.container1 .gridItem:nth-child(5) {
    background-image: url(../images/CloudyMountain.jpg);
}
.container1 .gridItem:nth-child(5):hover {
    transform: scale(1.1);
}
.container1 .gridItem:nth-child(7) {
    background-image: url(../images/ComputerThonk.jpg);
}
.container1 .gridItem:nth-child(7):hover {
    transform: scale(1.1);
}
.container1 .gridItem:nth-child(9) {
    background-image: url(../images/Designing.jpg);
}
.container1 .gridItem:nth-child(9):hover {
    transform: scale(1.1);
}
.container2 .gridItem:nth-child(2) {
    background-image: url(../images/Laptop.jpg);
}
.container2 .gridItem:nth-child(2):hover {
    transform: scale(1.1);
}
.container2 .gridItem:nth-child(4) {
    background-image: url(../images/Mountain.jpg);
}
.container2 .gridItem:nth-child(4):hover {
    transform: scale(1.1);
}
.container2 .gridItem:nth-child(6) {
    background-image: url(../images/Room.jpg);
}
.container2 .gridItem:nth-child(6):hover {
    transform: scale(1.1);
}
.container2 .gridItem:nth-child(8) {
    background-image: url(../images/Seaside.jpg);
}
.container2 .gridItem:nth-child(8):hover {
    transform: scale(1.1);
}

.gridItem:nth-child(even) {
    background-color: #FF6F91;
}

.gridItem:nth-child(odd) {
    background-color: #FFC75F;
}


