<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Fourth Layout</title> 
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <header class="addFlex">
            <section class="topHead addFlex">
                <section class="empty"></section>
                <section class="login addFlex">
                    <section class="signIn">
                        <label for="login">SIGN IN</label>
                        <input type="text" id="login">
                    </section>
                    <section class="createAc">
                        <h1>CREATE AN ACCOUNT</h1>
                    </section>
                    <section class="contact">
                        <h1>CONTACTS</h1>
                    </section>
                </section>
            </section>
            <section class="bottomHead addFlex">
                <section class="logo addBorder"></section>
                <section class="name addBorder addFlex">
                    <h1>Knugens Airlines</h1>
                </section>
                <section class="call addBorder addFlex">
                    <h1>Call</h1>
                    <h1>1-800</h1>
                </section>
            </section>
        </header>
        <nav class="addFlex addBorder">
            <section class="navText">
                <h1>PACKAGES</h1>
            </section>
            <section class="navText">
                <h1>DESTINATIONS</h1>
            </section>
            <section class="navText">
                <h1>FLIGHTS</h1>
            </section>
            <section class="navText">
                <h1>ACCOMMODATIONS</h1>
            </section>
            <section class="navText">
                <label for="search">SEARCH</label>
                <input type="search" id="login">
            </section>
        </nav>
        <main class="addFlex">
            <section class="mainLeft addBorder addFlex">
                <section class="leftTitle addFlex">
                    <h1>FEATURED PACKAGES</h1>
                </section>
                <section class="leftInfo addFlex">
                    <section class="leftText">
                        <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h1>
                    </section>
                    <section class="leftArt"></section>
                </section>
                <section class="leftInfo addFlex">
                    <section class="leftText">
                        <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h1>
                    </section>
                    <section class="leftArt"></section>
                </section>
                <section class="leftInfo addFlex">
                    <section class="leftText">
                        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
                    </section>
                    <section class="leftArt"></section>
                </section>
                <section class="leftInfo addFlex">
                    <section class="leftText">
                        <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h1>
                    </section>
                    <section class="leftArt"></section>
                </section>
            </section>
            <section class="mainMiddle addFlex addBorder">
                <section class="middleTop addFlex">
                    <section class="middleLeft addFlex">
                        <section class="middleTitel">
                            <h1>FEATURED DESTINATION</h1>
                        </section>
                        <section class="middleText">
                            <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, a quos repellendus possimus necessitatibus facere aliquam doloribus! Eligendi optio quasi, amet incidunt nam alias ab debitis natus voluptatum ut molestiae aut, odit ratione unde eum eveniet! Modi dolor voluptatum ullam aut culpa reiciendis provident voluptas corporis itaque illo dolore iusto pariatur a deleniti harum porro, in earum laudantium, labore ducimus est numquam laborum quia aspernatur. Sed delectus itaque eius officiis.</h1>
                        </section>
                    </section>
                    <section class="middleRight addFlex">
                        <section class="emptySpace"></section>
                        <section class="middleBigArt"></section>
                        <section class="caption">
                            <h1>Hawaii Island</h1>
                        </section>
                    </section>
                </section>
                <section class="middleBottom addFlex">
                    <section class="artGallery addFlex">
                        <section class="middleSmallArt"></section>
                        <section class="middleSmallArt"></section>
                        <section class="middleSmallArt"></section>
                        <section class="middleSmallArt"></section>
                        <section class="middleSmallArt"></section>
                        <section class="middleSmallArt"></section>
                    </section>
                    <section class="arrows addFlex">
                        <section class="arrowLeftHolder addFlex">
                            <img src="assets/images/fatArrowLeft.svg" alt="arrowLeft">
                        </section>
                        <section class="arrowRightHolder addFlex">
                            <img src="assets/images/fatArrowRight.svg" alt="arrowRight">
                        </section>
                    </section>
                </section>
            </section>
            <section class="mainRight addFlex">
                <section class="timeZone addBorder addFlex">
                    <h2>Time Zone Map Currency Calculator Weather</h2>
                </section>
                <a class="addBorder" href="/">
                    <section class="ad addFlex">
                        <h1>Check out this new and amazing xy101 IJhone</h1>
                        <h1>Click here to buy now!</h1>
                    </section>
                </a>
                <a class="addBorder" href="#">
                    <section class="ad addFlex">
                        <h1>Look at this new and fantastic mobile game called Dark Legends,</h1>
                        <h1>Click here to download today!</h1>
                    </section>
                </a>
            </section>
        </main>
    </body>
</html>