<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>First Layout</title> 
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <header>
        </header>
        <nav>
        </nav>
        <main class="addFlex">
            <section class="mainLeft addFlex">
                <section class="blogPost"></section>
                <section class="blogPost"></section>
                <section class="blogPost"></section>
            </section>
            <section class="mainRight addFlex">
                <section class="rightTop"></section>
                <section class="rightTop"></section>
                <section class="credibility"></section>
                <section class="ad addFlex">
                    <section class="banner"></section>
                    <section class="services"></section>
                </section>
                <section class="social"></section>
            </section>
        </main>
        <footer>
        </footer>   
    </body>
</html>
