<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Second Layout</title> 
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <header class="addFlex">
            <section class="headerLeft"></section>
            <section class="headerRight"></section>
        </header>
        <nav></nav>
        <main class="addFlex">
            <section class="mainLeft addFlex">
                <section class="dealWeek"></section>
                <section class="partner"></section>
                <section class="dealSort"></section>
            </section>
            <section class="mainMiddle addFlex">
                <section class="member"></section>
                <section class="insurance"></section>
            </section>
            <section class="mainRight addFlex">
                <section class="description"></section>
                <section class="blogPost"></section>
                <section class="forumPost"></section>
            </section>
        </main>
        <footer></footer>
    </body>
</html>